#head{
    text-align: center;
    font-size: 70px;
    color: red;
    /* margin-top: 100px; */
    padding-top: 100px;
  }

  .search-container{
    text-align: center;
    padding-top: 30px;
    margin-left: 10px;
    
    
  }

  .search-container input {
    padding: 9px;
    margin-top: 8px;
    font-size: 19px;
    border: 2px solid black;
    width: 230px;
  }

 .search-container button {
    padding: 6px 11px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 19px;
    border: none;
    cursor: pointer;
  }

  .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 335px) {
    #head {
        font-size:50px ;
    }
  }

 #main_download{
visibility: visible;
display: block;
  }
  .download_image{
    margin-top: 13px;
    width: 900;
  }

  .dwd-button{
    font-size: 14px;
    padding: 13px 22px;
    box-shadow: 0 5px 14px -7px #fff !important;
    background: linear-gradient(135deg, #67df03b8, #1356d5b8) !important;
    margin-bottom: 4px;
  }

  .movie{
    visibility: hidden;
    display: none;
  }

  .screenshots{
    padding-top: 12px;
    width: 750px;
    height: 333px;
  }

  #p{
    font-size: 50px;
  }

  #Quality{
   width: 150px;
   padding: 13px 21px;
   background: linear-gradient(135deg, #ee4908b8, #1356d5b8) !important;
  }

  #Quality_btn{
   margin-top: 4px;
   padding: 9px 18px;
   background: linear-gradient(135deg, #ee4908b8, #05d728b8) !important;
  }